__pycache__
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
media/
env/
venv/
ENV/
__env__/
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*.egg-info/
dist/
build/
*.coverage
htmlcov/
.coverage.*
.tox/
.nox/
.pytest_cache/
.pyre/
.mypy_cache/
.pytype/
.pytest_cache/
celerybeat-schedule
