{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <title>MyDBProject</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static '/style.css' %}">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">

    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <span class="span-logo">DATA</span>BRIDGE
    </a>

    <!-- Burger -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCenter"
      aria-controls="navbarCenter" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarCenter">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="#">Data Lab</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Data Academy</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Data For Business</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Agentic AI</a></li>
        <li class="nav-item"><a class="nav-link" href="#">2026 Data Market trends</a></li>
        <li class="nav-item"><a class="nav-link" href="#">A brief history of Data</a></li>
        
        <li class="nav-item"><a class="nav-link" href="#">About Me</a></li>
      </ul>
      </div>

  </div>
</nav>
    </header>
    {% block content %}
    {% endblock %}
    <footer>This is my footer</footer>
</body>
</html>