:root {
    --primary : #06080D;
    --secondary: #915CA0;
    --thirdary: #f8F9FA;
}

@font-face {
    font-family: 'Montserrat-Font-Bold';
    src: url('fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'Montserrat-Font-Regular';
    src: url('fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
}