:root {
    --primary : #06080D;
    --secondary: #915CA0;
    --thirdary: #f8F9FA;
}

@font-face {
    font-family: 'Montserrat-Font-Bold';
    src: url('fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'Montserrat-Font-Regular';
    src: url('fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
}

.span-logo {
    font-family: 'Montserrat-Font-Bold', sans-serif;
    color: var(--thirdary);
    font-style: italic;
    
}


.navbar {
  background-color: var(--primary);
}

/* Logo */
.navbar-brand {
    font-family: 'Montserrat-Font-Regular', sans-serif;
  color: var(--thirdary) !important;
}

.navbar-brand .span-logo {
  color: var(--thirdary);
  font-family: 'Montserrat-Font-Bold', sans-serif;
  font-style: italic;
}


.navbar .nav-link {
  color: var(--thirdary) !important;
  position: relative;
  transition: color 0.3s ease;
    font-family: 'Montserrat-Font-Regular', sans-serif;
    font-weight: bold;

}

.navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--secondary);
  transition: width 0.3s ease;
}

.navbar .nav-link:hover {
  color: var(--thirdary) !important;
}

.navbar .nav-link:hover::after {
  width: 100%;
}


.navbar-toggler {
  border-color: var(--secondary);
}

.navbar-toggler-icon {
  filter: invert(1);
}

.intro-picture {
    background-image: url('./images/Designer.png');
    background-size: cover;
    background-position: center;
    height: 1000px;
    width: 100%;
    font-family: 'Montserrat-Font-Regular', sans-serif;
    color: var(--thirdary);
}

.intro-main-title-container {
    font-family: 'Montserrat-Font-Regular', sans-serif;
    color: var(--thirdary);
    text-align: center;
    height: 200px;
    padding-top: 100px;
    background-color: var(--primary);
}

.intro-main-title {
    font-size: 60px;
}

.intro-subtitle{
    font-family: 'Montserrat-Font-Bold', sans-serif;
    color: var(--secondary);
    font-size: 20px;
    font-style: italic;
}

.intro-text-pillar {
    color: var(--secondary);
    font-weight: bold;
}

.intro-text-container {
height: 100vh;
margin: 0;
background-color: var(--primary);
}

.intro-text-db {
    font-family: 'Montserrat-Font-Bold', sans-serif;
    color: var(--thirdary);
    font-size: 1.3rem;
    border: #06080D;
    border-radius: 1px;
    padding-top: 55%;
    font-weight: bolder;
}
    
