:root {
    --primary : #0c0116;
    --secondary: #eb1796;
    --thirdary: #f8F9FA;
}



@font-face {
    font-family: 'Montserrat-Font-Regular';
    src: url('fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
}